<body>
<!--<button mat-button [matMenuTriggerFor]="menu" color="primary">Menu</button>
  <mat-menu #menu="matMenu">
    <a routerLink="/commands"mat-menu-item>Commands</a>
    <button mat-menu-item>Signout</button>
  </mat-menu-->
  <mat-divider md-inset></mat-divider>
<mat-card class="welcome-card">
  
<mat-card-title color="accent">
  Welcome To Vaca
</mat-card-title>

<mat-card-content class="mat-app-background">

</mat-card-content>
<mat-card-actions>
  <a routerLink="/commands" mat-button color="accent">Commands</a>
  <!--button mat-button >Sign Up</button-->
  <button mat-button onClick="startRecording()"> Start Listening</button>
  
</mat-card-actions>
</mat-card>

  </body>