<!---
  <button mat-button color="primary" (click)="getCommands()">refresh</button>
-->
<mat-toolbar>
<mat-toolbar-row>
    <span>Commands</span>
    <span class="example-spacer" ></span>
    <button mat-icon-button color="primary" (click)="backClicked()">
        <mat-icon svgIcon="back"></mat-icon>
      </button>
    <button mat-icon-button color="primary" (click)="getCommands()" onClick="refresh_commands()">
        <mat-icon svgIcon="reload"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="addCommand()">
          <mat-icon svgIcon="add"></mat-icon>
        </button>
        

  </mat-toolbar-row>
</mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let command of commandsHolder['commands']">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{command['commandName']}}
        </mat-panel-title>
        <mat-panel-description>
          {{command.commandComment}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <pre><code highlight [code]="command.commandScript" (highlighted)="onHighlight($event)"></code></pre>
      <button mat-icon-button color="primary" (click)="deleteCommand(command['commandName'])">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>   
     </mat-expansion-panel>
    </mat-accordion>
    <mat-divider ></mat-divider>
   
